<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about-content">
                </p>
                <b>This is a simple blogging website that built with Express.js and mongodb database</b>
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>